$color-bg-dark: #011935;
$color-bg-white: #d0e9ff;

$color-dark: #00343f;
$color-gray: #1db0bb;
$color-white: #37c6c0;

$index-top: 1003;
$index-middle: 1002;
$index-bottom: 1001;

$sidebar-width: 160px;
